/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(#e37ba3,#991cd1);
  color: #f1f5f9;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: linear-gradient(120deg ,#e37ba3);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
}

.logo span {
  color: #991cd1;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #60006a;
  transition: 0.3s;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffffff;
}

/* Hero Section */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background: linear-gradient(-182deg,#e37ba3,#e37b,#991cd1);
  text-align: center;
}

.hero-content h2 {
  font-size: 2.8rem;
  color: #f1f5f9;
}

.hero-content span {
  color: #26c3f7;
}

.hero-content p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #e2e8f0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #e933b2;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #e54ff3;
}

/* Section General */
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #fcbad3;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* About */
.about p {
  text-align: center;
  font-size: 1.5rem;
  color: #cbd5e1;
  max-width: 780px;
  margin: auto;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.project-card {
  background: rgba(255, 66, 252, 0.24);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  display: flex; /* Added for equal height/layout control */
  flex-direction: column; /* Added for equal height/layout control */
  text-decoration: none;
  color: #f1f5f9;
}

.project-card:hover {
 
  transform: scale(1.05);
  background: #e54df69f;
}

.project-card h3 {
  color: #ffd2eb;
  margin-bottom: 10px;
}

/* Contact */
.contact p {
  text-align: center;
  font-size: 1.1rem;
}

.contact a {
  color: #fcbad3;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #820096;
  color: #fcbad3;
  margin-top: 30px;
}
